body {
    background-color: #2e2e2e;
    margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  padding: 10px 0;
}

.pagelink {
  color: #fafafa;
}

.pagelink:hover {
  color: #89ec86;
}